* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

.radio{
   margin-right: 20px;
}

.form-input {
    display: block;
    width: 100%;
    padding: 1px 2px;
}

.form-input-text {
    border-radius: 5px;
}

.form-group {
    padding: 5px;
    margin: 5px;
}

.main-form {
    padding: 20px;
    margin: 0 auto;
    background-color: blue;
    max-width: 700px;
    min-width: 480px;
}